<!--<div id="navbar">

  <header id="nav-wrapper">
    <nav id="nav">
      <div class="nav left">
        <span class="gradient skew"> -->
<!-- <h1 class="logo un-skew"><a href="#home">Logo Here</a></h1> -->
<!-- </span>
        <button id="menu" class="btn-nav">
          <span class="fa fa-bars"></span>
        </button>
      </div>
      <div class="nav right">
        <a href="#home" class="nav-link active"><span class="nav-link-span"><span
              class="u-nav">Services</span></span></a>
        <a href="#about" class="nav-link"><span class="nav-link-span"><span class="u-nav">Industries</span></span></a>
        <a href="#work" class="nav-link"><span class="nav-link-span"><span class="u-nav">Solutions</span></span></a>
        <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">Career</span></span></a>
        <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">Contact Us</span></span></a>
        <a href="#contact" class="nav-link"><span class="nav-link-span">
            <i class="fa fa-whatsapp" aria-hidden="true"></i></span></a>
      </div>
    </nav>
  </header>
</div> -->

<!-- <div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <div class="dropdown">
    <button class="dropbtn">
      Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  <a href="#about">About</a>
  <a href="javascript:void(0);" style="font-size: 15px" class="icon" onclick="myFunction()">&#9776;</a>
</div> -->

<!-- <div id="navbar">
  <header id="nav-wrapper">
    <nav id="nav">
      <div class="nav left">
        <span class="gradient skew"> -->
<!-- <h1 class="logo un-skew"><a href="#home">Logo Here</a></h1> -->
<!-- </span>
        <button id="menu" class="btn-nav">
          <span class="fa fa-bars"></span>
        </button>
      </div>
      <div id="topnav" class="nav topnav right">
        <div class="dropdown nav-link">
          <button class="dropbtn">
            <span class="nav-link-span"
              ><span class="u-nav">Services</span>
              <i class="fa fa-caret-down"></i
            ></span>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <div class="dropdown nav-link">
          <button class="dropbtn">
            <span class="nav-link-span"
              ><span class="u-nav">Industries</span>
              <i class="fa fa-caret-down"></i
            ></span>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <div class="dropdown nav-link">
          <button class="dropbtn">
            <span class="nav-link-span"
              ><span class="u-nav">Solutions</span>
              <i class="fa fa-caret-down"></i
            ></span>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">Career</span></span></a>
        <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">Contact Us</span></span></a>
        <div class="dropdown nav-link">
          <button class="dropbtn">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div> -->

<header>
  <nav id="nav">
    <div id="navleft" class=""></div>
    <div id="navright" class="topnav" id="myTopnav">
      <a id="menu" href="javascript:void(0);" style="font-size: 15px" class="icon"><span class="fa fa-bars"></span></a>
      <div id="menubar">
        <div class="dropdown">
          <button class="dropbtn">
            Services
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">
            Industries
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">
            Solutions
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>

        <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">Career</span></span></a>
        <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">Contact Us</span></span></a>

        <div id="lnkWhatsApp" class="dropdown">
          <button class="dropbtn">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content" style="right: 0;">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>