<main class="content">
  <div id="home">
    <div class="home__container bd-grid">
      <div class="home__img">
        <figure>
          <img src="../../../assets/images/image.png" alt="" data-speed="-2" class="move" />
        </figure>
      </div>

      <div class="home__data">
        <h1 class="home__title">Food delivery</h1>
        <p class="home__description">
          Give your restaurant a stronger online presence. <br />
          We create Online Food Delivery System to take <br />your food business
          online.
        </p>
        <button class="home__button">Contact Now</button>
      </div>
    </div>
  </div>
  <div id="ourvaluedclient">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div fxFlex="100">
        <h1 class="mat-display-1 heading" style="margin-bottom: 11px; font-weight: 500; font-size: 40px">
          Our Valued Client
        </h1>
      </div>
    </div>
    <div id="ourvaluedclient_companies_logo" style="display: flex; flex-wrap: wrap">
      <figure>
        <img src="../../../assets/images/kimia_coin.png" />
        <img src="../../../assets/images/language_angles.png" />
        <img src="../../../assets/images/mannatech.png" />
        <img src="../../../assets/images/mobymemory.png" />
        <img src="../../../assets/images/safcoin.png" />
      </figure>
    </div>
    <div id="" style="padding: 30px 386px">
      <p style="
          text-align: center;
          font-size: 46px;
          margin-bottom: 1rem;
          font-weight: 400;
          line-height: 1;
        ">
        Excellent
        <font color="red" face="Verdana, Geneva, sans-serif" style="font-weight: bold">Online Food Delivery Solutions
        </font>
        Services
      </p>
    </div>
    <div id="ourvaluedclient_Services" style="display: flex; flex-wrap: wrap">
      <figure style="width: 100%; text-align: center">
        <img src="../../../assets/images/services.png" style="width: auto; height: 420px" />
      </figure>
    </div>
    <p style="
        text-align: center;
        font-size: 28px;
        line-height: 34px;
        padding: 15px 58px 45px 58px;
        color: #000000bd;
      ">
      To view your brand, products, and services, to all the customer it is
      necessary to have an appealing website. Conciento helps you in web and
      mobile developments that built your website and represent it. To view your
      brand products, and services to all the customer it is necessary to have
      an appealing website. Conciento helps you in web and mobile developments
      that built your website and represent it.
    </p>
  </div>
  <div id="banner">
    <figure>
      <img src="../../../assets/images/banner.png" />
    </figure>
  </div>
  <div id="keyfeatures" style="display: flex; flex-wrap: wrap">
    <div id="details" style="flex: 1">
      <div style="padding: 80px 0 0 50px; line-height: 1.5; font-size: 20px">
        <h1 style="font-size: 50px">
          Our <font color="red" style="font-weight: bold">Key Features</font>
        </h1>
        <br />
        <ul>
          <li>Time Saving with our software determining the best routes.</li>
          <li>Cutting down the overall operational costs.</li>
          <li>
            Quality software that can ensure smooth management of the company
            warehouses.
          </li>
          <li>Better management and updating of the inventory in store.</li>
        </ul>
      </div>
    </div>
    <div id="keyfeature_img" style="flex: 0.6">
      <figure>
        <img src="../../../assets/images/keyfeature_img.png" style="height: 380px" />
      </figure>
    </div>
  </div>
  <div id="portal" style="background-color: #f6f6f6">
    <h1 style="font-size: 15px; line-height: 1; padding: 20px; text-align: center">
      Get your Food Delivery Portal Built and Equipped with the best Features
      and Advanced Technological aids.
    </h1>

    <p style="font-size: 15px; line-height: 1; padding: 20px; text-align: center">
      Food businesses can leverage the best outcome by taking their venture
      online. With our online food delivery portal development service, you can
      make this happen in no time. Our quality services are fast and can be
      tailored to the client's requirement in order to build unique products.
    </p>

    <!-- <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
        <mat-card class="mat-elevation-z4" >
          <mat-card-header>
            <mat-card-title>Mountains {{num}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./../assets/images/mountains.jpg">
          <mat-card-content>
            <p>
              The Himalayas is a mountain range in Asia.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div> -->
    <!-- <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div> -->
  </div>
</main>