<main class="content">
  <div id="home">
    <div class="home__container bd-grid">
      <div class="home__img">
        <figure>
          <img
            src="../../../assets/images/image.png"
            alt=""
            data-speed="-2"
            class="move"
          />
        </figure>
      </div>

      <div class="home__data">
        <h1 class="home__title">Food delivery</h1>
        <p class="home__description">
          Give your restaurant a stronger online presence. <br />
          We create Online Food Delivery System to take <br />your food business
          online.
        </p>
        <button class="home__button">Contact Now</button>
      </div>
    </div>
  </div>
  <div id="ourvaluedclient">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div fxFlex="100">
        <h1 class="mat-display-1 heading">Our Valued Client</h1>
      </div>
    </div>
    <div id="ourvaluedclient_companies_logo" >
      <div style="display: flex; flex-wrap: wrap;"></div>
    </div>
  </div>
  <div id="work">Work</div>
  <div id="contact">Contact</div>
</main>
