/* You can add global styles to this file, and also import other style files */

:root {
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #fca4a6;
  --first-color-dark: #c1576a;
  --first-color-darken: #a83e51;
  --white-color: #fcf8f8;

  /*===== Font and typography =====*/
  --body-font: Roboto, "Helvetica Neue", sans-serif;
  --big-font-size: 2.5rem;
  --normal-font-size: 0.938rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

h1,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

figure,
figure img,
img {
  max-width: 100%;
  height: auto;
}
